 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
 			<form (ngSubmit)="onSubmit()" #f="ngForm">
 				<div class="form-group">
 					<label for="objType">Object Type</label>
 					<select
 					id="objType"
 					class="form-control"
 					[ngModel]="defaultType"
 					name="objType">
 					<option value="phone">phone</option>
 					<option value="computer">computer</option>
 					<option value="money">money</option>
 				</select>
 			</div>
 			<div class="form-group">
 				<label for="Description">Description</label>
 				<textarea
 				name="Description"
 				rows="3"
 				class="form-control"
 				[(ngModel)]="Description"></textarea>
 			</div>

 			<div class="form-group">
 				<label for="locationLost">Your Location</label>
 				<input type="text" name="locationLost" class="form-control" id="locationLost" required ngModel placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" #search >
 				<sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
 					<sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
 				</sebm-google-map>
 			</div>
 			<button
 			class="btn btn-primary"
 			type="submit"
 			[disabled]="!f.valid">Submit</button>
 		</form>
 	</div>
 	<div class="col-xs-12">
 		<ul>
 			<li *ngFor="let item of items | async">
 				{{ item.locationFound | json }}
 			</li>
 		</ul>
 	</div>
 </div>
</div>
